/* Custom user styles for Facebook.com's News Feed by Connor Sears
================================================================== */

/* Hide all the things! */
.fbx.home #rightCol,
#pagelet_welcome_box,
#listsNav,
#pagesNav,
#appsNav,
#developerNav,
#interestsNav,
#navHeader, #navHome,
.headerTinymanName {
  display: none !important;
}

/* News feed
================================================== */

/* Skinny up the News feed after removing all the ads */
.fbx.home #globalContainer {
  left: -96px; /* Places the side nav in the left margin. */
  width: 751px;
}
/* Make the news feed stories span the full width of the container */
.homeWiderContent .uiStreamStory,
.hasExpandedComposer .uiStream .uiStreamHeader {
  margin-right: -18px;
}

/* Top bar (open graph not supported )
================================================== */

/* Shortening the top bar to work with the single column layout. Overly specific use of ids to override FB's CSS. */
.fbx.home #blueBar #pageHead {
  width: 550px;
}
.fbx.home #navSearch {
  width: 230px;
}
.fbx.home #navSearch .uiSearchInput input {
  width: 195px;
}

/* To Handle Geoups and other things maybe?
================================================== */

.groupJumpLayout {
  padding-top: 10px !important;
}

#headerArea {
  display: none !important;
}